In [1]:
%matplotlib inline
import pandas as pd

In [11]:
#From IPython.core.display import HTML
#css = open('style-table.css').read() + open('style-notebook.css').read()
#HTML('<style>{}</style>'.format(style))

In [12]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [16]:
#How many movies are listed in the titles dataframe?
movies = titles.shape
movies

(244914, 2)

In [17]:
#What are the earliest two films listed in the titles dataframe?

In [18]:
#How many movies have the title "Hamlet"?

In [19]:
#How many movies are titled "North by Northwest"?

In [20]:
#When was the first movie titled "Hamlet" made?

In [21]:
#List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
#How many movies were made in the year 1950?

In [23]:
#How many movies were made in the year 1960?

In [24]:
#How many movies were made from 1950 through 1959?

In [25]:
#In what years has a movie titled "Batman" been released?

In [26]:
#How many roles were there in the movie "Inception"?

In [27]:
#How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [28]:
#But how many roles in the movie "Inception" did receive an "n" value?

In [29]:
#Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value

In [30]:
#Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [31]:
#Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [32]:
#How many roles were credited in the silent 1921 version of Hamlet?

In [33]:
#How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [34]:
#How many "Hamlet" roles have been listed in all film credits through history?

In [35]:
#How many people have played an "Ophelia"?

In [36]:
#How many people have played a role called "The Dude"?

In [37]:
#How many people have played a role called "The Stranger"?

In [38]:
#How many roles has Sidney Poitier played throughout his career?

In [39]:
#How many roles has Judi Dench played?

In [40]:
#List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [41]:
#List the leading roles that Cary Grant played in the 1940s in order by year.

In [42]:
#How many roles were available for actors in the 1950s?

In [43]:
#How many roles were available for actresses in the 1950s?

In [44]:
#How many leading roles (n=1) were available from the beginning of film history through 1980?

In [46]:
#How many non-leading roles were available through from the beginning of film history through 1980?

In [ ]:
#How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?